# Python
.venv/
__pycache__/
*.pyc

# Secrets - 절대 GitHub에 올리면 안 됩니다!
.env

# IDE/Editor specific
.idea/
.vscode/

# OS specific
.DS_Store

# Specific files to ignore
error_check.txt
push.txt
task_today.txt

# Folders to ignore
examples/
test/
